*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: Verdana; */
}

b{
  font-size: 2rem;
}

#hour-input{
  width: 20px;
}

#container{
  background-color: #7f7f7f;
}
#alarm-container{
  width: 60%;
  max-width: 600px;
  padding: 8px;
  margin: 20px auto ;
  background-color: #928989;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.3);
}

#dateText{
  margin-top: 5px;
  font-size: .7rem;
}
#clockface {
  background-color: #2c2c2c;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "alarm clock";
  box-shadow: inset 0px 0px 5px 2px black;
  margin-bottom: 5px;
  
}

.clockText{
  
  color: #00c400;
  text-shadow: 0px 0px 5px #00c400;
}
#buttonContainer{
  display: flex;
  justify-content: space-between;
  
}
#timeText{
  display: flex;
  align-items: center;
  gap: 2px;
}
.btn{
  width: 24%;
  background-color: #585858;
  border-radius: 8px;
  border: none;
  padding: 2px 5px;
  color: #00c400;
  font-size: 0.7rem;
  cursor: pointer;
}

.hide{
 display: none;
}

#addAlarmModal{
  margin: 50px auto;
  padding: 8px 4px;
  width: 60%;
  text-align: center;
  border-radius: 16px;
  background-color: #928989;
  border: none;
  box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.3);
}

#addAlarmModal * {
  margin: 5px 0px;
}

#addAlarmModal input{
  width: 100%; 
  background-color: #2c2c2c;
  border: none;
  color: #00c400;
  border-radius: 4px;
  outline: none;
  place-self: stretch center;
  /* padding-left: 5px; */
}

#addAlarmModal input[type="text"]{
 padding: 1px 2px;

}
#addAlarmModal input:focus{
  box-shadow: inset 0px 0px 3px 1px #29ff29;
}
#inputContainer{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 95%;
}

#addAlarmModal label{
  place-self: center end;
  margin-right: 2px;
}
 
.modalBtn{
  width: 45%;
  margin-top: 10px;
  
  
}

#repeatDaysContainer{
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px){
  #inputContainer{
    grid-template-columns: 1fr 9fr;
  }
  
  #addAlarmModal label{
    place-self: center center;
    text-align: right;
  }

}